<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Gastos</strong>
            </div>
            <div class="panel-body">
              <div class="row" data-ng-controller="MeCtrl">
                <div class="col-lg-12" ng-repeat="user in gastos">
                    <p>{{user.numerotlf}}</p>
                    <p>{{user.nombre}}</p>
                </div>
              </div>
            </div>
        </div>
    </div>
