<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{datos_admin.nombre}}</p>
        <!-- Status -->
        <a href="#" ng-click="$event.preventDefault();"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <!-- Optionally, you can add icons to the links -->
      <li><a href="#/">
        <i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a></li>
      <li class="treeview">
        <a href="#" ng-click="$event.preventDefault();"><i class="fa fa-link"></i> <span>Rutas</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li class="active"><a href="#crearruta">Crear Ruta</a></li>
          <li><a href="#rutas">Lista de rutas</a></li>
        </ul>
      </li>
      <li><a href="#charts">
        <i class="fa fa-link"></i> <span>Estadísticas</span></a></li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
