
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <small>{{ruta._id}}</small>
  </h1>
</section>

<!-- Main content -->
<section id="prueba" class="invoice" ng-controller="RutasIdCtrl">
<!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        <i class="fa fa-globe"></i> {{ruta.nombre}}
        <small class="pull-right">Date: 2/10/2014</small>
      </h2>
    </div><!-- /.col -->
  </div>
  <!-- info row -->
  <div class="row invoice-info">
      <div class="box-body">
        <div class="col-md-6">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li ng-repeat="punto in ruta.puntos" data-target="#carousel-example-generic" data-slide-to="{{data.indexOf(punto)}}" ng-class="{active:$first}"></li>
            </ol>
            <!--CAROUSEL BODY -->
            <div class="carousel-inner">
              <div ng-class="{active:$first}" class="item itemr" ng-repeat="punto in ruta.puntos">
                <img class="imagenRuta img-responsive" src="{{punto.foto}}" alt="First slide">
                <div class="carousel-caption">
                  {{punto.nombre}}
                </div>
              </div>

            </div>
            <a ng-click="$event.preventDefault();" class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="fa fa-angle-left"></span>
            </a>
            <a ng-click="$event.preventDefault();" class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="fa fa-angle-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div id="map" style="width:100%;height:500px"></div> <!-- MAP -->
        </div>
        <div class="row">
          <div class="col-md-4 invoice-col">
            <h4>
              <i class="fa fa-book"></i> Descripción
            </h4>
            <div>
              {{ruta.descripcion}}
            </div>
          </div><!-- /.col -->
          <div class="col-md-6 invoice-col">
            <h4 >
              <i class="fa fa-info"></i> Detalles
            </h4>
            <div class="col-md-8">
              <div class="col-md-4">
                <div class="row">  <i class="fa fa-hourglass-half"></i> Dificultad</div>
                <div class="row">  <i class="fa fa-users"></i> Popularidad</div>
              </div>
              <div class="col-md-4">
                <div class="row">{{ruta.dificultad}}</div>
                <div class="row">{{ruta.popularidad}}</div>
              </div>
            </div>

          </div><!-- /.col -->
        </div>
      </div><!-- /.row -->
    </div> <!-- /.box-body -->
    <div class="row">
      <div class="col-md-12">
        <!-- Post -->
        <div class="post" ng-repeat="opinion in opiniones">
          <div class="user-block">
            <img class="img-circle img-bordered-sm" src="../../dist/img/user6-128x128.jpg" alt="user image">
            <span class="username">
              <a href="#" ng-click="$event.preventDefault();">{{opinion.email}}</a>
            </span>
            <span class="description">Posted 5 photos - 5 days ago</span>
            <div class="col-sm-12">
              <p>
                {{opinion.comentario}}
              </p>
            </div>
          </div><!-- /.user-block -->
        </div><!-- /.post -->
      </div>
    </div>

    <script type="text/javascript">

      $(document).ready(function () {
        setTimeout(function(){
          var prueba = angular.element(document.getElementById('prueba')).scope().datos;

          var mymap = L.map('map').setView(prueba[0], 13);
          var numMarks = 0;
          var markers = [];

          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
              '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
              'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
          }).addTo(mymap);

          mymap.panTo(prueba[0]);

          for(var i=0;i<prueba.length;i++) {
            var marker = L.marker(prueba[i]).addTo(mymap);
          }

          /*var marker = L.marker([38.362252939774905,-0.49112319946289057]).addTo(mymap);
          var marker = L.marker([38.35538800838217, -0.5050277709960936]).addTo(mymap);
          var marker = L.marker([38.34421427733542, -0.4955863952636718]).addTo(mymap);*/


        }, 10);
      });

    </script>
</section><!-- /.content -->

  <div class="clearfix"></div>

<!-- AdminLTE App -->
