<style>
  /*.sweet-deal-label {
    background-color: #FE57A1;
    background-color: rgba(254, 87, 161, 0.66);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    font-weight: bold;
  }*/
  .leaflet-label:before,
  .leaflet-label:after {
  	border-top: 6px solid transparent;
  	border-bottom: 6px solid transparent;
  	content: none;
  	position: absolute;
  	top: 23px;
  }

  .leaflet-label:before {
  	border-right: 6px solid black;
  	border-right-color: inherit;
    left: 6px;
  }

  .leaflet-label:after {
  	border-left: 6px solid black;
  	border-left-color: inherit;
  	right: -10px;
  }

  .leaflet-label-right:before,
  .leaflet-label-left:after {
  	content: "";
  	-webkit-transform: rotate(-90deg);
  }
</style>

<!-- Main content -->
<section class="content-header">
  <h1>
    Crear Ruta
    <small>Click en el mapa para añadir puntos de referencia</small>
  </h1>
  <section class="content" id="crearRutaCtrlHTML" ng-crontroller="crearRutaCtrl">
    <div id="info" class="alert alert-danger" role="alert" runat="server" ng-style="divAlertStyle" style="margin-top:20px; display:none;">
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Mapa</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>

          <div class="box-body">
            <div id="mappu" style="width:100%;height:500px">
            </div>
            <form class="form-signin">
              <h4>Nombre de la Ruta:</h4>
              <label for="inputEmail" class="sr-only">Nombre de Ruta</label>
              <input type="text" id="inputName" class="form-control" placeholder="Nombre" ng-model="inputName"/>

              <h4 style="margin-top:20px;">Descripción de la ruta:</h4>
              <label for="inputDesc" class="sr-only">Descripción</label>
              <textarea rows="2" type="text" id="inputDesc" class="form-control" placeholder="Descripción" ng-model="inputDesc"/>

              <h4 style="margin-top:20px;">Dificultad:</h4>
              <select class="form-control" id="levelSelect" ng-model="levelSelect">
                <option value="1">Fácil</option>
                <option value="2">Medio</option>
                <option value="3">Difícil</option>
              </select>

              <h4 style="margin-top:20px;">Población de la ruta:</h4>
              <label for="inputPobla" class="sr-only">Población</label>
              <input type="text" id="inputPobla" class="form-control" placeholder="Población" required autofocus ng-model="inputPob"/>

              <button id="buttonLogInMain" class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:20px;" ng-click="new()">Crear Ruta</button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6" id="MarkersBox">

        <!--<div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">Punto de interés</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>

          <div class="box-body">
            <img src="pages/rutas/marker.png" style="float:left;margin-right:32px;margin-left:16px;"></img>

            <div style="display: -webkit-box;">
              <label for="inputNameMaker1" class="sr-only">Nombre</label>
              <input type="text" id="inputNameMaker1" class="form-control" placeholder="Nombre" required autofocus/>
            </div>
            <div style="display: -webkit-box;">
              <label for="inputDescMaker1" class="sr-only">Nombre</label>
              <textarea row="2" type="text" id="inputDescMaker1" class="form-control" placeholder="Descripción" required autofocus/>
            </div>
            <div style="display: -webkit-box;">
              <button class="btn btn-danger" style="margin-right:20px;">Examinar<br />imagen</button>
              <div style="margin-top:5px;">
                <label id="latMaker1">Latitud: 34.3315345</label>
                <br />
                <label id="lngMaker1">Longitud: 50.12486</label>
              </div>
            </div>
          --><!--</div><!-- /.box-body -->
        <!--</div>--><!-- /.box -->
      <!--</div>--><!-- /.col (LEFT) -->
    <!--</div>--><!-- /.row -->

  </section><!-- /.content -->
</section>

<!-- REQUIRED JS SCRIPTS -->
<script src="dist/js/pages/mapCode.js"></script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
 Both of these plugins are recommended to enhance the
 user experience. Slimscroll is required when using the
