<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Mis rutas
    <small>Lista de mis rutas creadas</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Latest Orders</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div><!-- /.box-header -->
    <div class="box-body">
      <div class="table-responsive table-striped">
        <table class="table no-margin">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Dificultad</th>
              <th>Popularidad</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ruta in rutas">
              <td><a href="#rutas/{{ruta.id}}">{{ruta.id}}</a></td>
              <td>{{ruta.nombre}}</td>
              <td>{{ruta.descripcion}}</td>
              <td>
                <span class="label label-success" ng-if="ruta.dificultad === 1">Fácil</span>
                <span class="label label-warning" ng-if="ruta.dificultad === 2">Medio</span>
                <span class="label label-danger" ng-if="ruta.dificultad === 3">Dificil</span>
              </td>
              <td>
                <span class="label label-default" ng-if="ruta.popularidad === 1">Conocida</span>
                <span class="label label-info" ng-if="ruta.popularidad === 2">Popular</span>
                <span class="label label-success" ng-if="ruta.popularidad === 3">Concurrida</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div><!-- /.table-responsive -->
    </div><!-- /.box-body -->

  </div>

</section><!-- /.content -->
