
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Home

  </h1>
</section>
<!-- INFORMATION BOXES -->
<div class="content">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua iconMod"><i class="fa fa-users"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Total usuarios</span>
          <span class="info-box-number">{{countUsers}}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red iconMod"><i class="fa fa-compass"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Total rutas</span>
          <span class="info-box-number">{{countRoutes}}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow iconMod"><i class="fa fa-globe"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Total ciudades</span>
          <span class="info-box-number">{{countCities}}</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
  </div>
  <!-- NEW USERS BOX -->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Nuevos corredores</h3>
          <div class="box-tools pull-right">
            <span class="label label-danger">Corredores nuevos</span>
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
          <ul class="users-list clearfix">
            <li ng-repeat="user in dataUsers">
              <img src="{{user.foto}}" alt="User Image">
              <a ng-click="$event.preventDefault();" class="users-list-name" href="#">{{user.email}}</a>
              <span class="users-list-date">Today</span>
            </li>
          </ul><!-- /.users-list -->
        </div><!-- /.box-body -->

      </div>
    </div> <!-- col-md 12 -->
  </div> <!-- /row -->

  <!-- COMENTARIOS -->
  <div class="row">
    <!-- Left col -->
    <section class="col-md-12 connectedSortable ui-sortable">
      <!-- Custom tabs (Charts with tabs)-->
      <!-- Chat box -->
      <div class="box box-success">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
          <i class="fa fa-comments-o"></i>
          <h3 class="box-title">Ultimos mensajes</h3>
        </div>

        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
          <div class="box-body chat" id="chat-box" style="overflow: hidden; width: auto; height: 250px;">
            <!-- chat item -->
            <div class="item" ng-repeat="ruta in rutasUsu">
              <img src="dist/img/user4-128x128.jpg" alt="user image" class="online">
              <p class="message">
                <a href="#" ng-click="$event.preventDefault();" class="name">
                  <small class="text-muted pull-right">ruta# {{ruta.idRuta}}</small>
                  {{ruta.email}}
                </a>
                {{ruta.comentario}}
              </p>
            </div><!-- /.item -->
            <div class="item">
              <img src="dist/img/user4-128x128.jpg" alt="user image" class="online">
              <p class="message">
                <a href="#" ng-click="$event.preventDefault();" class="name">
                  <small class="text-muted pull-right">ruta# 16</small>
                  Javi
                </a>
                Nunca habia visitado la universidad antes, y despues de esta ruta me ha encantado y volvere otra vez
              </p>
            </div><!-- /.item -->
            <div class="item">
              <img src="dist/img/user4-128x128.jpg" alt="user image" class="online">
              <p class="message">
                <a href="#" ng-click="$event.preventDefault();" class="name">
                  <small class="text-muted pull-right">ruta# 16</small>
                  run@runmycity.es
                </a>
                No sabia que existia el parque de los patos, a los alumnos de la EPS nos queda muy lejos. MUY chulo
              </p>
            </div><!-- /.item -->

          <div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 184.91124260355px; background: rgb(0, 0, 0);">
          </div>
          <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);">
          </div>
        </div><!-- /.chat -->
        <div class="box-footer">

        </div>
      </div><!-- /.slimScrolldiv -->
      <script>
        $(function(){
          $('.slimScrollDiv').slimScroll({
              height: '250px'
          });
        });
      </script>
    </div>  <!-- /.box success -->
    </section><!-- /.Left col -->
  </div> <!-- /.row -->
</div> <!--./content-->
