<div class="content">
    <div class="login-box">
      <div class="login-logo">
        <a href="#/login"><b>Run</b>My</a><b>City</b>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form name="formLogin">
          <div class="form-group has-feedback">
            <input type="email" ng-model="username" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" ng-model="password"class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div ng-if="err" class="alert alert-danger">
              <strong>Error!</strong> Usuario o password invalidos
            </div>
            <div class="col-xs-4">
              <button type="submit" ng-click="login()" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div><!-- /.col -->
          </div>
        </form>
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
</div>
